{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    
    Page footer.
}}
<footer id="top-footer" class="py-3 bg-dark text-light">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-xl-3">
                <div class="panel-group" id="footerdiv1" role="tablist" aria-multiselectable="true">
                    <div class="panelfooter">         
                        
                        <div class="logofooter"><img style="width: 60%;" src="{{{ config.wwwroot }}}/theme/ouelofordson/pix/headerlogo.png"></div>
                        <div class="panel-tools pull-right">
                            <button id="footerdiv1" type="button" class="btn btn-box-tool d-md-none d-lg-none" data-toggle="collapse" data-target="#collapsefooterdiv1" aria-expanded="true">
                                
                            </button>
                        </div>
                    </div>
                    <div id="collapsefooterdiv1" class="panel-collapse collapse show" role="tabpanel">
                    <div class="panel-body">  
                            <p><i class="fa fa-map-marker" aria-hidden="true" style="color: #fff;"></i>  97 Võ Văn Tần, P6, Q.3, TP. Hồ Chí Minh</p>
                            <p><i class="fa fa-phone-square" aria-hidden="true" style="color: #fff;"></i> {{#str}} phonenumber:footer, theme_ouelofordson {{/str}}</p>
                            <p><i class="fa fa-envelope-o" aria-hidden="true" style="color: #fff;"></i> <a href="mailto:elo@oude.edu.vn">elo@oude.edu.vn</a></p>
                            <p><i class="fa fa-globe" aria-hidden="true" style="color: #fff;"></i> <a href="http://elo.edu.vn/">www.elo.edu.vn</a></p>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-xl-2 ">
                <div class="panel-group" id="footerdiv2" role="tablist" aria-multiselectable="true">
                    <div class="panelfooter">         
                        <h3>{{#str}} navigation:footer, theme_ouelofordson {{/str}}</h3>
                        <div class="panel-tools pull-right">
                            <button id="footerdiv2" type="button" class="btn btn-box-tool d-md-none d-lg-none" data-toggle="collapse" data-target="#collapsefooterdiv2" aria-expanded="true">
                                
                            </button>
                        </div>
                    </div>
                    <div id="collapsefooterdiv2" class="panel-collapse collapse show" role="tabpanel">
                    <div class="panel-body">
                        
                            <p><a href="{{{ config.wwwroot }}}">{{#str}} homepage:footer, theme_ouelofordson {{/str}}</a></p>
                            <p><a href="{{{ config.wwwroot }}}/calendar/view.php?view=month">{{#str}} calendar:footer, theme_ouelofordson {{/str}}</a></p>
                            <p><a href="{{{ config.wwwroot }}}/?redirect=0">{{#str}} mycourses:footer, theme_ouelofordson {{/str}}</a></p>
                        
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-xl-4 ">
                <div class="panel-group" id="footerdiv3" role="tablist" aria-multiselectable="true">
                    <div class="panelfooter">         
                        <h3>{{#str}} elearningcenter:footer, theme_ouelofordson {{/str}}</h3>
                        <div class="panel-tools pull-right">
                            <button id="footerdiv3" type="button" class="btn btn-box-tool d-md-none d-lg-none" data-toggle="collapse" data-target="#collapsefooterdiv3" aria-expanded="true">
                                
                            </button>
                        </div>
                    </div>
                    <div id="collapsefooterdiv3" class="panel-collapse collapse show" role="tabpanel">
                        <div class="panel-body">
                            
                                <p><a href="http://elo.edu.vn/">{{#str}} home:footer, theme_ouelofordson {{/str}}</a></p>
                                <p><a href="http://elo.edu.vn/gioi-thieu-chung">{{#str}} introduceprogram:footer, theme_ouelofordson {{/str}}</a></p>
                                <p><a href="http://elo.edu.vn/cu-nhan-truc-tuyen">{{#str}} objects:footer, theme_ouelofordson {{/str}}</a></p>
                                <p><a href="http://elo.edu.vn/page/huong-dan-su-dung-cho-hoc-vien">{{#str}} studentknowledge:footer, theme_ouelofordson {{/str}}</a></p>
                                <p><a href="http://elo.edu.vn/tin-tuc/news">{{#str}} news:footer, theme_ouelofordson {{/str}}</a><a href="http://elo.edu.vn/tin-tuc/events">{{#str}} events:footer, theme_ouelofordson {{/str}}</a></p>
                                <p><a href="http://elo.edu.vn/lien-he/trung-tam-dao-tao-truc-tuyen">{{#str}} contact:footer, theme_ouelofordson {{/str}}</a></p>
                        </div>
                    </div>
                </div>    
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-xl-3">
                <div class="panel-group" id="footerdiv4" role="tablist" aria-multiselectable="true">
                    <div class="panelfooter">         
                        <h3>{{#str}} connectwithus:footer, theme_ouelofordson {{/str}}</h3>
                        <div class="panel-tools pull-right">
                            <button id="footerdiv4" type="button" class="btn btn-box-tool d-md-none d-lg-none" data-toggle="collapse" data-target="#collapsefooterdiv4" aria-expanded="true">
                                
                            </button>
                        </div>
                    </div>
                    <div id="collapsefooterdiv4" class="panel-collapse collapse show" role="tabpanel">
                        <div class="panel-body">
                            
                                <p><a href="https://www.facebook.com/cunhantructuyendhm/"><i class="fa fa-facebook" aria-hidden="true" style="color: #fff;"></i> Facebook</a></p>
                                <p><a href="https://www.youtube.com/channel/UChzIXUDsqPbdfHQeuaIOeQw/"><i class="fa fa-youtube" aria-hidden="true" style="color: #fff;background:#DE0034;"></i> Youtube</a></p>
                                <p><div class="elomobile">{{{ output.standard_footer_html }}}</div></p>
                            
                        </div>
                    </div>
                </div>    

                
            </div>
        </div>

        <div class="col-12"><hr></div>
     
        <div class="col-12">{{#str}} copyright:footer, theme_ouelofordson {{/str}}</div>
        
        <div id="course-footer">{{{ output.course_footer }}}</div>

        {{# output.page_doc_link }}
            <p class="helplink">{{{ output.page_doc_link }}}</p>
        {{/ output.page_doc_link }}

        {{{ output.login_info }}}
        <div class="tool_usertours-resettourcontainer"></div>
        {{{ output.home_link }}}
        <nav class="nav navbar-nav d-md-none">
            {{# output.custom_menu_flat }}
                <ul class="list-unstyled pt-3">
                    {{> theme_boost/custom_menu_footer }}
                </ul>
            {{/ output.custom_menu_flat }}
        </nav>
        {{{ output.standard_end_of_body_html }}}
    </div>
</footer>