.block_elo_reminder_users .content .list li.listentry {
    clear: both;
}

.block_elo_reminder_users .content .list li.listentry .user {
    float: left;
    position: relative;
}

.block_elo_reminder_users .content .list li.listentry .user .userpicture {
    vertical-align: text-bottom;
}

.block_elo_reminder_users .content .list li.listentry .message,
.block_elo_reminder_users .content .list li.listentry .uservisibility {
    float: right;
    margin-top: 3px;
}

.block_elo_reminder_users .content .info {
    text-align: center;
}

/*Nhien elo 10_09_2019*/
.block_elo_reminder_users .content .list li.listentry .usermail {
    float: right;
    margin-top: 3px;
}
.block_elo_reminder_users .content .list li.listentry .userlastaccess {
    float: right;
    margin-top: 3px;
}

.block_elo_reminder_users .content .userright .usermail,
.block_elo_reminder_users .content .userright .userlastaccess {
    float: unset;
    padding-right: 15px;
}

.block_elo_reminder_users .content .userright {
    float: right;
    display: flex;
}
.eloloadinghide>#mail-to-user-sending {
    display: none;
}
#mail-to-user-sending {
	visibility: hidden;
}

@media screen and ( min-width: 500px){
    .modal-dialog {
        max-width: 800px !important;
        top: 20%;
    }
}

.modal-body {
    word-wrap: break-word;
}

table.flexible th:first-child {
    padding-left: 0rem;
    padding-right: 0rem;
}

div.group-berutype a {
    margin-right: 5px;
}
/*Nhien elo 10_09_2019*/

